.header {
  @include centering;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  padding: 0 $padding;
  background: $mainBg;
  transition: $transition;
  z-index: $z-index-error;
  // -webkit-transform: translateZ(0);
  // Here is the Search and Profile Buttons on Mobile

  &__buttons {
    @include centering;
    gap: $gap * 2;
  }

  &__logo {
    display: none;
    height: $BtnSize;

    img {
      object-fit: contain;
      height: 100%;
    }
  }

  /*  This is function for Profile (When i open the bottom
    part of Profile) to increase the height of Header */
  &.moved {
    height: calc($headerHeight + ($gap * 3));

    &.content {
      height: calc(100vh - ($headerHeight + ($gap * 3)));
    }
  }
}

// Profile and Search Button
.search,
.profile {
  @include headBtn;
}

.search {
  grid-template-columns: $BtnSize 1fr $BtnSize;

  &__item,
  &__item:last-child,
  &__item:nth-child(2) {
    grid-column: unset;
  }
}