.header__notify {

  z-index: $z-index-medium;

  // Notification Button
  &-btn {
    @include standart-Btn;
    position: relative;
  }

  // Notification title for this section

  &-title {
    @include standart-Font;
    margin-left: $margin;
  }

  // Notification alert menu
  &-list {
    display: flex;
    flex-direction: column;

    width: calc(100% - $gap);
    height: $NotifyHeight;

    background: $mainBg;
    box-shadow: rgba(0, 0, 0, .60) 0px 10px 40px 20px;
    opacity: 0;

    position: absolute;
    top: $headerHeight + $margin;
    right: 50%;
    transform: translateX(50%);

    gap: $gap;
    padding: $padding;
    border-radius: $BtnBorderRadius;

    overflow-y: scroll;
    z-index: $z-index-0;
    list-style: none;

    transition: all $transition;
    @include scrollbar;
  }

  // Notification alerts
  &-item {
    @include standart-Btn;
    justify-content: space-between;

    width: 100%;
    height: unset;

    gap: $gap;
    padding: $padding;

    background-color: lighten($mainBg, 5%);
  }

  // Notification when is OPENED
  &.open {
    z-index: $z-index-big;

    &>.header__notify-list {
      opacity: 1;
    }
  }
}



.alert-circle {
  background-color: darken($mainBg, 15%);
  position: relative;

  &-off {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: -2.5px;
    right: -2.5px;
    width: $alertSize - 5px;
    height: $alertSize - 5px;
    background-color: $alertColor;
    outline: 3px solid $mainBg;
    border-radius: 100%;
  }
}

//Notification dot when its have new alerts
.alert-count {
  @include centering;
  @include standart-Font;

  display: flex;
  position: absolute;
  top: -5px;
  right: -5px;
  width: $alertSize;
  height: $alertSize;
  background: $alertColor;

  outline: 4px solid $mainBg;
  border-radius: 100%
}