@media (min-width: 1024px) {
  .item {
    &__header {
      grid-template-columns: 1fr 1fr;

      &-title {
        text-align: left;
        padding: 0;
      }

      &-buttons {
        @include flexbox(flex, row, flex-end, center, $gap);
      }

      &-btn {
        max-width: 8rem;
      }
    }

    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0;

      &-long {
        grid-column: 1/3;
      }

      &-textarea {
        grid-column: 1/3;
      }
    }
  }
}