// .filter {}

.filter__open {
  @include flexer(row, space-between, center, 10px);
  background: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 0;
  border-bottom: 2px solid $text;

  svg {
    stroke: $text;
    scale: .7;
  }
}

.filter__content {
  background-color: wheat;
  @include abs-position (fixed, 0, unset, unset, 0);
  @include box(100%);
  @include responsive-spacing(padding, 0.1);
  @include flexer(column, flex-start, flex-start, 20px);
  z-index: 999;
}

.filter__close {
  @extend .filter__open;

  svg {
    scale: 1;
  }
}

// .filter__list {}

.filter__item {
  input {
    // display: none;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }

  label {
    cursor: pointer;
    padding-left: 35px;
    position: relative;

    &::after {
      content: '';
      @include box(18px);
      @include abs-position (absolute, 50%, unset, unset, 0);
      background-color: transparent;
      border-radius: 5px;
      border: 2px solid $text;
      transform: translateY(-50%);
    }
  }

  input:checked+label:before {
    content: '';
    @include abs-position (absolute, 50%, unset, unset, 4px);
    @include box(10px);
    background-color: $text;
    border-radius: 2px;
    transform: translateY(-50%);
  }
}