// Filter Section
.filter {
  // width: 100%;
  @include box(auto, 100%);

  // buttons for Apply or reset the fillter changes
  &__buttons {
    @include flexer(row, space-between, center, 10px);

    button {
      @include flexer(row, center, center);
      @include responsive-spacing(padding, 0.001);
      width: 100%;
      color: $background;

      background: $text;
      border: 2px solid $text;
      font-weight: 600;
      border-radius: 10px;

      @include breakpoint(small) {
        color: lightgray;
      }

      &:last-child {
        background-color: $background;
        color: $text;
        background-color: transparent
      }
    }
  }

  // dropdown styles of filter menu
  &__dropdown {
    @include box(100%, auto);
    @include flexer(column, flex-start, flex-start);

    &--btn {
      @include flexer(row, space-between, center, 10px);
      @include responsive-spacing(padding-top, 0.00001);
      @include responsive-spacing(padding-bottom, 0.00001);
      @include box(100%, auto);
      border: none;
      background-color: transparent;
      font-weight: 500;
      cursor: pointer;
      border-bottom: 2.5px solid $text;

      svg {
        stroke: $text;
        stroke-width: 2.5px;
      }
    }

    &--content {
      display: grid;
      grid-template-rows: 0;
      overflow: hidden;
      @include fade(hide);
      @include box(100%, auto);

      &.show {
        grid-template-rows: 1fr;
        @include fade(show);
        transform: none !important;
      }
    }
  }

  // button to open Filter,
  &__open {
    @include flexer(row, space-between, center, 10px);
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0;
    border-bottom: 2px solid $text;

    font-size: 0;
    gap: 0;

    @include breakpoint(small) {
      //  content
      font-size: initial;
      gap: 10px;
    }

    svg {
      stroke: $text;
      scale: .7;
    }
  }

  // button to close Filter,
  &__close {
    @extend .filter__open;
    border: none;
    margin-bottom: 50px;
    font-size: initial;
    border-bottom: 2px solid $text;
    @include responsive-spacing(padding-bottom, 0.001);
    @include flexer(row, space-between, center, 10px);


    @include breakpoint(small) {
      display: none;
    }

    svg {
      scale: 1;
    }
  }

  // Styles of dropdown content, (grid System of dropdown content)
  &__content {
    overflow-y: auto;
    background-color: $background;
    @include abs-position (fixed, 0, unset, unset, 0);
    @include box(100%);
    @include responsive-spacing(padding, 0.03);
    @include flexer(column, flex-start, flex-start, 25px);
    z-index: 999;
    @include fade(hide);

    &.show {
      @include fade(show);
      transform: none !important;
    }

    @include breakpoint(small) {
      @include abs-position (absolute, 100%, unset, unset, 0);
      @include box(100%, auto);
      overflow-y: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      top: 150%;
      border: 2px solid $text;
      border-radius: 10px;
      @include responsive-spacing(padding, 0.015);
      // Glassmorphism
      background: rgba(85, 80, 80, 0.4);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      @include responsive-spacing(padding, 0.01);

    }
  }

  // List with checkboxes for filters
  &__list {
    @include box(100%, auto);
    @include responsive-spacing(padding, 0.01);
    background: white;
    @include flexer(column, flex-start, flex-start, 10px);
    border-radius: 0 0 10px 10px;
    // Glassmorphism
    background: transparent;
    transform: none !important;
  }

  // Checkboxes with labels
  &__item {
    position: relative;


    input {
      display: none;

      &:checked+label::after {
        content: '';
        display: inline-block;
        @include box(10px);
        @include abs-position (absolute, 50%, unset, unset, 5px);
        background-color: $text;
        border-radius: 2.5px;
        transform: translateY(-50%);
      }
    }

    label {
      cursor: pointer;
      padding-left: 35px;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        @include box(20px);
        @include abs-position (absolute, 50%, unset, unset, 0);
        background-color: transparent;
        border-radius: 5px;
        border: 2.5px solid $text;
        transform: translateY(-50%);
      }
    }
  }
}

// Filter search
.filter__search {
  @include box(80%, 2.5rem);
  @include flexer(row, flex-start, flex-start);
  position: relative;

  input {
    background-color: transparent;
    @include box(100%);
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $text;
    flex: 1;
    padding-left: 10px;
    outline: none;
    font-size: 14px
  }

  button {
    @include box(min-content);
    @include flexer(row, center, center);
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 3px;

    svg {
      stroke: $text;
      scale: .7;
    }
  }
}

// Filter Sortifications
.filter__sort {
  @extend .filter;

  &--btn {
    @extend .filter__open;
  }

  &--content {
    @include abs-position (absolute, 150%, 0, unset, unset);
    @include box(100%, auto);
    border-radius: 10px;
    @include responsive-spacing(padding, 0.015);
    z-index: 99;
    background: rgba(85, 80, 80, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    @include fade(hide);

    @include breakpoint(small) {
      width: min-content;
    }

    &.show {
      transform: none;
      @include fade(show);
    }
  }

  &--list {
    @include flexer(column, flex-start, center, 10px);
    padding: 0;
  }

  &--item {
    width: 100%;

    input {
      display: none;
    }

    label {
      @extend .filter__item;
      text-align: left;
      padding: 0;
      width: 100%;
      font-weight: 600;
      cursor: pointer;
    }
  }
}