//<---------------------------- Card ---------------------------->
.card {
  background: $secondary;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: space-between;
  position: relative;
  gap: 15px;
  width: 100%;
  height: 100%;

  &.flying {
    z-index: 200;
  }

  &:hover {
    .card-image {
      scale: 1.1;
    }
  }
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
  transition: all 0.5s ease-in-out;
  user-select: none;
  pointer-events: none;

  // &:hover {
  //   scale: 1.1;
  // }
}

.card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  padding: 5px;
}

.card-text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  p {
    font-size: 14px;
    font-weight: 500;
    text-wrap: nowrap;

    &.sale {
      color: #d2042d;
    }
  }

  &>h3,
  &>h2 {
    font-size: 14px;
    color: $text;
    font-weight: 500;
    width: 100%;
    flex: 1;
  }

  &>span {
    color: lighten($color: $text, $amount: 20%);
    font-size: 10px;
    font-weight: 400;
  }
}

.card-info>.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: transparent;
  border: 2px solid $text;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 500;
  color: $text;

  transition: all 0.3s ease-in-out;

  &>button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 500;
    color: $text;
    transition: all 0.3s ease-in-out;
    outline: none;

    @media (hover: hover) {
      &:hover {
        background: $text;
        color: $secondary;
      }
    }

    @media (hover: none) {
      &:active {
        background: $text;
        color: $secondary;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      background: $text;
      color: $secondary;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

.card-button-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: $text;
  border: 2px solid $text;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 500;
  color: $background;
  transition: all 0.3s ease-in-out;
  cursor: not-allowed;
}

.card__action {
  position: absolute;
  top: 5px;
  right: 5px;
}


.card-sale {
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  text-decoration: line-through;
}


.card-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  &.discount {
    font-size: 14px;
    color: #cc0000;
    font-weight: 500;
    text-wrap: nowrap;
  }

  &.oldprice {
    text-decoration: line-through;
    font-size: 14px;
    color: $text;
    font-weight: 500;
    text-wrap: nowrap;
  }

  &.price {
    font-size: 14px;
    color: $text;
    font-weight: 500;
    text-wrap: nowrap;
  }
}

.card-status {
  position: absolute;
  top: 25px;
  left: 0;
  color: $background;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;

  &.save {
    background: #d2042d;
  }

  &.save-secondary {
    background: #d2042d;
    top: 50px;
  }

  &.discount {
    background: #cc0000;
  }

  &.out {
    background: $text;
  }
}

//<-------------------------- End Card -------------------------->