.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  // ----------------
  position: sticky;
  top: 90px;
  z-index: 100;
  background: $background;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.controls__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: $secondary;
  border: none;

  & > svg {
    stroke: $text;
  }
}

.controls__search {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 500;
  color: $text;
  border: none;
  flex: 1;
  background-color: $secondary;
  outline: none;

  &::placeholder {
    color: lighten($color: $text, $amount: 30%);
  }
}
