
#back, #new, #edit, #delete, #Update{
  border-top: 1px solid $bg;
 // border-bottom: 1px solid $bg;

}

.alert {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.alert.fade-out {
    opacity: 0;
}

.releated{
   border: 1px solid $bg !important;
}

.tab {
    overflow: hidden;
    border-top: 1px solid $bg;
    border-radius: $base-border-radius $base-border-radius 0 0;

  }
  .tab button {
    background-color: $bg;
    float: left;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
    outline: none;
    color: $secondary;
    cursor: pointer;
    //padding: 14px 16px;
    transition: 0.3s;
    //font-size: 17px;
  }
  .tab button:hover {
    background-color: $bg;
    color: $white;
  }
  .tab button.active {
    background-color: $secondary;
    color: $bg;
  }
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid $bg;
    border-top: none;
    border-radius:  0 0 $base-border-radius $base-border-radius;
  }
.addcategory, .backcategory {
    @include wh(5vw, auto);
    border: none;
    background-color: $secondary;
    box-shadow: 0px 0px 2px $bg;
    color: $bg;
    cursor: pointer;
    font-size: 16px;

}


.title {
    color: $bg !important;
    z-index: 2;
  }

.multiselect {
  width: 10vw;
  position: absolute;
  //top: 10rem;

}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

#checkboxes {
  display: none;
  border: 1px  solid $bg;
  padding: $base-padding;
  position: absolute;
  z-index: 1;
  background: $white;
  float: right;
  width: 10vw;
  //position: absolute;
}

#checkboxes label {
  display: block;
}



.listelement{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 662px) {
  .title {
    margin-top: 1rem;
    font-size: $base-font-size;
  }

  .content-category {
    width: 95vw;
  }

  #modal-category {
    z-index: 1;
  }
}

.content-category {
  .browse{
    @include wh(10%, auto);
  }
  @extend .content;
  @include wh(75vw, auto);
  top: 10%;
  padding: 0;

  #new, #delete, #edit{
    box-shadow: 0px 0px 2px $bg;
    @include wh(10%, auto);
  }

  @media (max-width: 662px) {
    width: 95vw;
  }





  input {
    @include wh(40%, auto);

    @media (max-width: 662px) {
      @include wh(70%, auto);
    }

    padding: $base-padding;
    background-color: $bg;

    &::placeholder {
      color: $secondary;
      opacity: 1;
    }

    transition: $transition;
    -webkit-transition: width 0.4s ease-in-out;
    color: $secondary;
    border: 1px solid $secondary;

    &.modalbutton{
        @include w(15rem);
        background-color: $secondary;
        color: $bg;
        border: 1px solid $secondary;
        box-shadow: 0px 0px 2px $bg;
        font-size: 18px;
        }
  }



  .element {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      @media (max-width: 662px) {
        font-size: $base-font-size;
      }
    }


    input {
      @include wh(25%, auto);
      @media (max-width: 662px) {
        @include wh(25%, auto);
      }

      &::-webkit-calendar-picker-indicator {
        filter: invert(0.8);
      }
    }
  }
}




