.releated {
  border: 1px solid $mainBg !important;
}

.tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap;
  padding: $padding;
  margin-top: $margin;
  background-color: lighten($mainBg, 5%);
  border: 1px solid $mainBg;
  border-bottom: none;
  border-radius: $base-border-radius $base-border-radius 0 0;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid $mainBg;
  border-top: none;
  height: 100%;
  max-height: 100% !important;
  border-radius: 0 0 $base-border-radius $base-border-radius;
}


.title {
  color: $mainBg !important;
  z-index: 2;
}

.multiselect {
  width: 10vw;
  position: absolute;

}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

#checkboxes {
  display: none;
  border: 1px solid $mainBg;
  padding: $padding;
  position: absolute;
  z-index: 1;
  background: $white;
  float: right;
  width: 10vw;
}

#checkboxes label {
  display: block;
}



.listelement {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media (max-width: 662px) {
  .title {
    margin-top: 1rem;
    font-size: $base-font-size;
  }
}

.content-category {
  //   @extend .content;
  @include wh(75vw, auto);
  top: 10%;

  @media (max-width: 662px) {
    width: 95vw;
  }

  input {
    @include wh(40%, auto);

    @media (max-width: 662px) {
      @include wh(70%, auto);
    }

    padding: $padding;
    background-color: $mainBg;

    &::placeholder {
      color: $secondColor;
      opacity: 1;
    }

    transition: $transition;
    -webkit-transition: width 0.4s ease-in-out;
    color: $secondColor;
    border: 1px solid $secondColor;

    &.modalbutton {
      @include w(15rem);
      background-color: $secondColor;
      color: $mainBg;
      border: 1px solid $secondColor;
      box-shadow: 0px 0px 2px $mainBg;
      font-size: 18px;
    }
  }



  .element {
    display: flex;
    justify-content: center;
    align-items: center;

    label {
      @media (max-width: 662px) {
        font-size: $base-font-size;
      }
    }


    input {
      @include wh(25%, auto);

      @media (max-width: 662px) {
        @include wh(25%, auto);
      }

      &::-webkit-calendar-picker-indicator {
        filter: invert(0.8);
      }
    }
  }
}