%flex-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}



.navbar{
  @extend %flex-layout;
  padding: $base-padding;
  z-index: 1;
  position: fixed;
  height: 5rem;

  //icon on mobile version
  .small{
    display: none;
    @media (max-width: 662px){
      display: block;
      margin-right: 1rem;
    }
  }

.right{
    display: flex;
    .controls{
        & svg {
            @include wh(2rem, auto);
            padding: $base-padding /2;
            object-fit: cover;
            align-items: center;
            //background-color: $secondarydark;
            border: 1px solid $secondary;
            border-radius: $base-border-thickness * 2;
            cursor: pointer;
            path {
              fill: $secondary;
            }
          }
    }
    .user_container{
        display: flex;
        .user_icon{
           // padding: $base-padding;
           // border: 2px solid $secondary;
            //border-radius: 50%;
            //background-color: $secondarydark;
            //margin: $base-margin;
            & svg {
                 @include wh(2rem, auto);
                 object-fit: cover;
                // color: $white;
                 align-items: center;
                 cursor: pointer;
                 path {
                   fill: $secondary;
                 }
               }
        }
        .drop_icon{
            path{
                fill: $secondary;
            }
        }
    }
}

  #input_search {
    @include wh(30vw, auto);
    background-color: $bg;
    display: none;
    &::placeholder{
      color: $secondary;
      opacity: 1;
    }
    transition: $transition;
    -webkit-transition: width 0.4s ease-in-out;
    color: $secondary;
    border: 2px solid $secondary;
  }

//logo for navbar
  & .logo{
    display: flex;
    align-items: center;

    & img{
      @include wh(20rem, auto);
      object-fit: cover;
    }
  }

  & #min_logo{
    display: none;
    @include wh(4rem, auto);

  }

  @media (max-width: 662px){
    padding: 0;
    & #min_logo{
      display: block;
    }
    & #full_logo{
      display: none;
    }
  }
}

@each $key, $val in $colors {
  .navbar-#{$key}{
    @extend .navbar;
    background-color: $val;
  }
}
