%flex-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

//modal for user acesibility
.modal-user{
  @extend .modal;

@media (max-width: 662px){
  padding-top: 4rem;
}
  .content-user{
    @extend .content;
    width: 90%;
    height: 95%;
    .exit{
      @include wh(3rem, auto);
      cursor: pointer;
      font-size: 28px;
      font-weight: bold;
      color: $secondary;
    }
  }
}

.navbar{
  @extend %flex-layout;
  padding: $base-padding $base-padding *2;
  box-shadow: $base-box-shadow;
  z-index: 1;
  position: fixed;
  height: 6.5rem;

  //icon on mobile version
  .small{
    display: none;
    @media (max-width: 662px){
      display: block;
      margin-right: 1rem;
    }
  }

.right{
    display: flex;
    .controls{
        & svg {
            @include wh(2.7rem, auto);
            padding: $base-padding /2;
            object-fit: cover;
            align-items: center;
            background-color: $secondarydark;
            border: 2px solid $secondary;
            border-radius: $base-border-thickness * 2;
            cursor: pointer;
            path {
              fill: $white;
            }
          }
    }
    .user_container{
        display: flex;
        .user_icon{
            padding: $base-padding;
            border: 2px solid $secondary;
            border-radius: 50%;
            background-color: $secondarydark;
            margin: $base-margin;
            & svg {
                 @include wh(2.5rem, auto);
                 object-fit: cover;
                 color: $white;
                 align-items: center;
                 cursor: pointer;
                 path {
                   fill: $white;
                 }
               }
        }
        .drop_icon{
            & svg {
                @include wh(2.5rem, auto);
                object-fit: cover;
                color: $white;
                align-items: center;
                cursor: pointer;
                path {
                  fill: $white;
                }
              }
        }
    }
}

  #input_search {
    @include wh(30vw, auto);
    background-color: $sidebar-bg;
    display: none;
    //background-image: url(/images/dashboard/navbar/magnifier.svg);
    &::placeholder{
      color: $secondary;
      opacity: 1;
    }
    //background-position: 10px 10px;
    //background-repeat: no-repeat;
    transition: $transition;
    -webkit-transition: width 0.4s ease-in-out;
    color: $secondary;
    //align-items: center;
    border: 2px solid $secondary;
  }

//logo for navbar
  & .logo{
    display: flex;
    align-items: center;

    & img{
      @include wh(20rem, auto);
      object-fit: cover;
    }
  }


  & #button_user_small{
    display: none;
    text-align: center;
    justify-content: center;
  }

  & #min_logo{
    display: none;
    @include wh(4rem, auto);

  }

  @media (max-width: 662px){
    padding: 0;
    //z-index: -1;
    & #min_logo{
      display: block;
    }
    & #full_logo{
      display: none;
    }
    & #button_user_small{
      padding: $base-padding;
      margin-right: 1rem;
      display: block;

       @include wh(1rem, auto);

      &:hover{
        background: $bg;
        @include wh(1.5rem, auto);
      }
    }
  }
}

@each $key, $val in $colors {
  .navbar-#{$key}{
    @extend .navbar;
    background-color: $val;
  }
}
