///////////// color sistem///////

//theme colors///
$white: #ffffff;
$black: #000;
$primary: #326dee !default;
$secondary: #bafcdd !default;
$secondarydark: #82b09b !default;
$succes: #1ac888 !default;
$info: #8f5fe8 !default;
$error: #d32752 !default;
$warning: #f6c31c !default;
$light: $white;
$dark: #0d0d0d !default;

///Color variables///
$bg: #35424b!default;
$sidebar-bg: #35424b !default;
$sidebar-active-bg: rgba(23, 23, 37, 0.8) !default;
$border:#7e73ff !default;

//color maps
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "bg": $bg,
  "sidebar-bg": $sidebar-bg,
  "gray": gray,
  "black": black,
  "white": white,
);



//spacing variables
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;
$base-width:10% !default;


//border
$base-border-thickness: 5px !default;
$base-border-radius: 20px !default;

//box-shadow
$base-box-shadow: 3px  #bafcdd !default;

///FONT////
////////// FONT-WEIGHT/////////

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;



//font sizes
$base-font-size: .875rem; //14px base font size
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-md: $base-font-size * 1.2 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

//transition variables///
$transition: all 0.2s ease-in-out;
//transition variables///

