.input{
    @include box(max-width, $height);
    background-color: darken($white, 10%);
    color: $primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: $border-radius-sm;
    transition: $transition;
    font-size: $font-size;
    font-weight: $font-weight;
    min-height: $height;
    padding: $padding;
    flex-shrink: 1;

    &--long {
      flex: 1;
      width: 100%;
    }
    &--sm{
      transform: scale(0.8);
    }
    &--rounded {
    border-radius: 100px;
    }
}

.search--controls{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
  padding-right: calc($padding * 1.5);
}

