
/* Notification Styles */
.container__notification {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 500px;
  height: 0;
  // background: red;
  padding-top: 50px;
  padding: 10px;
  z-index: 1024;
  display: inline-flex;
  flex-direction: column;
  // align-items: end;
  justify-content: flex-end;
  transition: all 0.3s ease;
  // user-select: auto;
  // pointer-events: auto;
}

.item__notification {
  background: #fafafa;
  position: relative;
  width: 100%;
  min-height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2.5px 10px;
  transition: all 0.3s ease;
  transform: translateX(calc(100% + 10px));
  animation: apare 6s ease forwards;
  box-shadow: $shadow;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    bottom: -2px;
    transform-origin: left;
    transform: scaleX(1);
    animation: timp 6s ease infinite;
  }


  &:not(:first-child) {
    margin-top: 10px;
  }
  &.success{
    &::after {
      background: #0da672;
    }

    & > .image__notification{
      fill: #0da672;
    }
  }
  &.danger{
    &::after {
      background: #ef433e;
    }

    & > .image__notification{
      fill: #ef433e;
    }
  }
  &.warning{
    &::after {
      background: #efcd3e;
    }

    & > .image__notification{
      fill: #efcd3e;
    }
  }
  &.default{
    &::after {
      background: #3e83ef;
    }

    & > .image__notification{
      fill: #3e83ef;
    }
  }


}

@keyframes apare {
  0% {
    transform: translateX(calc(100% + 10px));
  }
  20% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(100% + 10px));
  }
}
@keyframes timp {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.image__notification {
  width: 35px;
  height: 35px;
  fill: #333;
  stroke-width: 0px;
}

.text__notification {
  width: 100%;
  flex: 1;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-wrap: balance;
  text-align: center;

  & a {
    font-size: 14px;
    font-weight: 600;
    color: #333;
  }
}
