//<---------------------------- Banner Styles ---------------------------->
.banner {
  width: 100%;
  padding: 5px 0;
  background: $text;
  transform-origin: top;
  transition: transform 0.3s;
  position: fixed;
  top: 0;
  z-index: 400;
}

.banner__container {
  color: $background;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

//<-------------------------- End Banner Styles -------------------------->
