// The product section
.item {

  // The product header (title and the buttons in top)
  &__header {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;
    margin-bottom: $margin * 2;

    &-title {
      @include standart-Font;
      color: $mainBg;
      font-size: 2rem;
      text-align: center
    }

    &-buttons {
      @include centering;
      gap: $gap;
      justify-content: space-between
    }

    &-btn {
      @include standart-Btn;
      width: 100%;
      background-color: $mainBg;
    }
  }

  // This is Upload media content
  &__upload {
    display: flex;
    flex-direction: column;
    gap: $gap;

    input[type="file"] {
      display: none;
    }

    // Upload media button
    &-btn {
      @include standart-Btn;
      background-color: $mainBg;
      width: 100%;
      gap: $gap;
    }

  }

  // Product form (input, textarea, buttons)
  &__form {
    margin-top: $margin;
    display: flex;
    flex-direction: column;
    gap: $gap * 3;
    align-content: flex-start;
    align-items: flex-start;

    // STYLE FOR EVERY INPUT IN FORM
    &-input,
    &-input-close {
      @include centering;
      flex-direction: column;
      width: 100%;
      position: relative;
      word-wrap: break-word;



      span {
        @include standart-Font;
        color: $mainBg;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;
      }

      div,
      textarea,
      select,
      input {
        @include standart-Input;

        &:focus~span,
        &:valid~span {
          background-color: $white;
          padding: 0 10px;
          top: 0;
        }
      }

      textarea {
        height: $BtnSize * 4;
      }

    }

    &-input-close {
      cursor: not-allowed;

      span {
        @include standart-Font;
        color: $mainBg;
        position: absolute;
        left: 15px;
        top: 0;
        transform: translateY(-50%);
        transition: $transition;
        background-color: $white;
        padding: 0 10px;
      }

      div,
      textarea,
      select,
      input {
        border-color: $gray;
        color: $gray;
      }

      div {
        height: 100%
      }
    }

    &-close {
      @extend .item__form-input-close;
    }

    // BUTTON IN CONTENT ("ADD NEW")
    &-btn {
      @include standart-Btn;
      color: $mainBg;
      width: 100%;
      background-color: $secondColor;
      border: 1px solid black;
    }
  }
}
