@media (min-width: 1024px) {
  .item {
    &__header {
      grid-template-columns: 1fr 1fr;
      grid-column-start: 1;
      grid-column-end: 3;

      &-title {
        text-align: left;
      }

      &-buttons {
        @include flexbox(flex, row, flex-end, center, $gap);
      }

      &-btn {
        max-width: 8rem;
      }
    }

    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;

      &.form-table {
        grid-auto-flow: column;
        grid-template-columns: 3fr 1fr 1fr;
        margin: 0;
      }

      &-long {
        grid-column: 1;
        grid-column-end: 3;
      }
    }
  }
}