.item {
  @include flexbox(flex, column, center, center, $gap);

  &__header {
    display: grid;
    grid-template-columns: 1fr;
    gap: $gap;
    margin: 2rem 0;

    &-title {
      @include standart-Font;
      color: $mainBg;
      font-size: 2rem;
      text-align: center
    }

    &-buttons {
      @include flexbox(flex, row, space-between, center, $gap);
    }

    &-btn {
      @include standart-Btn;
      width: 100%;
      background-color: $mainBg;
    }
  }

  &__upload {
    @include flexbox(flex, column);

    input[type="file"] {
      display: none;
    }

    &-btn {
      @include standart-Btn;
      background-color: $mainBg;
      width: 100%;
      gap: $gap;
    }
  }

  &__form {
    @include flexbox(flex, column, center, flex-start, $gap *3, $alignContent: flex-start);
    margin: 2rem 0;
    width: 100%;

    &-input,
    &-input-close {
      @include flexbox(flex, column, center, center);
      width: 100%;
      position: relative;
      word-wrap: break-word;

      span {
        @include position(absolute, 50%, auto, auto, 15px);
        @include standart-Font;
        color: $mainBg;
        transform: translateY(-50%);
        transition: $transition;
      }

      div,
      textarea,
      select,
      input {
        @include standart-Input;

        &:focus~span,
        &:valid~span {
          background-color: $white;
          padding: 0 10px;
          top: 0;
        }
      }

      textarea {
        height: $BtnSize * 4;
      }
    }

    &-input-close {
      cursor: not-allowed;

      span {
        @include position(absolute, 0, auto, auto, 15px);
        @include standart-Font;
        color: $mainBg;
        transform: translateY(-50%);
        transition: $transition;
        background-color: $white;
        padding: 0 10px;
      }

      div,
      textarea,
      select,
      input {
        border-color: $gray;
        color: $gray;
      }

      div {
        height: 100%
      }
    }

    &-close {
      @extend .item__form-input-close;
    }

    &-btn {
      @include standart-Btn;
      color: $mainBg;
      width: 100%;
      background-color: $secondColor;
      border: 1px solid black;
    }
  }
}

.table-edit {
  @include standart-Input;
  @include size(6rem, 2rem);
  padding: 0;
}