@media (min-width: 1024px) {
  .overflow {
    overflow: visible;
  }

  // General Modifacation
  main {
    margin-left: $sidebar-Width-Desktop-Min;

    &.ml {
      margin-left: $sidebar-Width-Desktop-Max;
    }

    &.mr {
      margin-right: 410px;
    }
  }
}