*,
*:before,
*:after {
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif !important;
  font-weight: normal;
}

body {
  background: $mainBg;
  overflow-x: hidden;
  @include scrollbar;
}

html {
  scroll-behavior: smooth;
}

.overflow {
  overflow: hidden;
}

.stop-height {
  height: 65vh;
}

main {
  position: relative;
}


.textareamin {
  min-height: 10rem;
}

// The big part for all main content
.content {
  padding: $contentPadding;
  position: relative;
  color: $black;
  height: 100%;
  background-color: $white;
  border-radius: $BtnBorderRadius;

  z-index: $z-index-medium;
}

.category-table.dataTable tbody td {
  padding: 0 !important;
}