.details {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background: $text;
  border-radius: 7px;
  max-height: 50vh;
  min-height: 400px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    max-height: unset;
    min-height: unset;

    &.sticky {
      position: sticky;
      bottom: 20px;

      @media (max-width: map-get($grid-breakpoints, sm)) {
        width: calc(100% + 40px);
        margin-left: -20px;
        padding: 10px 20px 30px;
        bottom: 0;
        border-radius: 0;
      }

      &>.details__content:first-child {
        display: none;
      }

      &>.details__content>.voucher {
        display: none;
      }
    }
  }
}

.details__hidden {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background: $text;
  border-radius: 7px;
  display: none;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: flex;
  }
}

.details__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.details__title {
  width: 100%;
  font-size: 25px;
  font-weight: 500;
  color: $secondary;
  text-align: center;
  line-height: 150%;

  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 18px;
  }
}

.details__text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $secondary;

  &>h4 {
    font-size: 16px;
    font-weight: 500;
    color: $secondary;
    margin: 0;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 12px;
    }
  }

  &>span {
    font-size: 16px;
    font-weight: 400;
    color: $secondary;
    margin: 0;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 12px;
    }
  }
}

.voucher {
  width: 100%;
  height: 40px;
  position: relative;

  &>input {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    border: none;
    padding: 0 10px;
    font-size: 14px;
    color: $text;
    font-weight: 500;
    background: $secondary;
    outline: none;
  }

  &>button {
    position: absolute;
    top: 50%;
    right: 5px;
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: $secondary;
    background: $text;
    border: none;
    border-radius: 5px;
    transform: translateY(-50%);
  }
}

.voucher__error {
  font-size: 16px;
  line-height: 150%;
  color: red;
  width: 100%;
  text-align: center;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 12px;
  }
}

.details__button {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: $secondary;
  font-size: 14px;
  border: none;
  transition: all 0.3s ease-in-out;
  color: $text;
  font-weight: 500;
}