.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-direction: column-reverse;

  @media (min-width: map-get($grid-breakpoints, md)) {
    flex-direction: row;
  }
}

.checkout__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.checkout__link,
.checkout__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  width: min-content;
  height: 40px;
  padding: 0 10px;
  background: $secondary;
  color: $text;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  border: none;
  gap: 10px;

  &:hover {
    background: darken($secondary, 20%);
  }

  &.active {
    background: $text;
    color: $secondary;
  }
}

.checkout__container {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 15px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: start;
    justify-items: center;
  }

  &.active {
    display: flex;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: grid;
    }
  }
}

.checkout__form {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background: $secondary;
  padding: 15px;
  gap: 15px;
  border-radius: 5px;

  @media (min-width: map-get($grid-breakpoints, md)) {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: start;
    justify-items: center;
    align-content: flex-start;
  }

  &.active {
    display: flex;

    @media (min-width: map-get($grid-breakpoints, md)) {
      display: grid;
    }
  }
}

.look__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $secondary;
  border-radius: 5px;

  &>h3 {
    color: $text;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #333;
    width: 100%;

    &:last-child {
      border-top: 10px solid #fff;
    }
  }
}

.checkout__top {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  @media (min-width: map-get($grid-breakpoints, md)) {
    grid-column: 1/3;
  }

  &>span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid $text;
    color: $text;
    font-size: 18px;
    font-weight: 500;
  }

  &>h3 {
    color: $text;
    font-size: 18px;
    font-weight: 500;
  }
}

.checkout__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;

  &>input {
    width: 100%;
    height: 40px;
    border: none;
    background: transparent;
    border-bottom: 1.5px solid $text;
    border-radius: 0;
    color: $text;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: 0 10px;
  }

  &>span {
    color: red;
    font-size: 16px;
    font-weight: 400;
  }
}

.checkout__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $secondary;
  padding: 5px 10px;
  gap: 15px;
  border-radius: 5px;
  grid-column: 1/3;

  &>span {
    color: $text;
    font-size: 16px;
    font-weight: 500;
    flex: 1;
  }
}

.checkout__terms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $secondary;
  padding: 5px 10px;
  gap: 15px;
  border-radius: 5px;
  grid-column: 1/3;

  &>span {
    color: lighten($text, 30%);
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    text-decoration: none;

    &>a {
      color: $text;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &>input:checked~a {
    color: $text;
  }

  &.error {
    background: lighten(red, 45%);
    border: 1px solid red;

    &>span {
      color: red;

      &>a {
        color: red;
      }
    }
  }
}

// .checkout__error {
//   width: 100%;
//   color: red;
//   border: 1px solid red;
//   background: #fafafa;
//   font-size: 16px;
//   text-align: center;
//   font-weight: 500;
//   padding: 15px;
//   border-radius: 7px;
// }