.checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    gap: 10px;
    flex-direction: column;
  }
}

.checkout__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
}

.checkout__link,
.checkout__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  width: min-content;
  height: 40px;
  padding: 0 10px;
  background: $secondary;
  color: $text;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  border: none;
  gap: 10px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    gap: 5px;
    font-size: 14px;
    padding: 0 5px;
    width: 100%;

    &>svg {
      transform: scale(0.7);
    }
  }

  &:hover {
    background: darken($secondary, 20%);
  }

  &.active {
    background: $text;
    color: $secondary;
  }
}

.checkout__button--confirm {
  border: 1px solid $text;
}

.checkout__container {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 15px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: start;
    justify-items: center;
  }

  &.active {
    display: flex;

    @media (min-width: map-get($grid-breakpoints, lg)) {
      display: grid;
    }
  }
}

.checkout__form {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  background: $secondary;
  padding: 15px;
  gap: 15px;
  border-radius: 5px;

  @media (min-width: map-get($grid-breakpoints, md)) {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: start;
    justify-items: center;
    align-content: flex-start;
  }

  &.active {
    display: flex;

    @media (min-width: map-get($grid-breakpoints, md)) {
      display: grid;
    }
  }
}

.look__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $secondary;
  border-radius: 5px;
  gap: 10px;

  &>h3 {
    color: $text;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #333;
    width: 100%;

    &:last-child {
      border-top: 10px solid #fff;
    }
  }
}

.checkout__top {
  width: 100%;
  min-height: 40px;
  padding-left: 40px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  @media (min-width: map-get($grid-breakpoints, md)) {
    grid-column: 1/3;
  }

  &>span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid $text;
    color: $text;
    font-size: 18px;
    font-weight: 500;
  }

  &>h3 {
    color: $text;
    font-size: 18px;
    font-weight: 500;
  }
}

// .checkout__item {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   justify-content: space-between;
//   gap: 10px;

//   &>input {
//     width: 100%;
//     height: 40px;
//     border: none;
//     background: transparent;
//     border-bottom: 1.5px solid $text;
//     border-radius: 0;
//     color: $text;
//     font-size: 16px;
//     font-weight: 400;
//     outline: none;
//     padding: 0 10px;
//   }

//   &>span {
//     color: red;
//     font-size: 16px;
//     font-weight: 400;
//   }
// }
.checkout__item {
  width: 100%;
  height: 40px;
  border-radius: 5px 5px 0 0;
  padding: 1px;
  padding-bottom: 0;
  position: relative;
  margin-bottom: 15px;
  background: transparent;
  transition: all 0.3s ease-in-out;

  &.error {
    background: lighten(red, 45%);

    &>input {
      border-color: red;
      color: red;
      scroll-margin-top: 100px;
    }

    &>span {
      font-size: 13px;
    }
  }

  &>input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 0;
    background: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    padding: 0 10px;
    -moz-appearance: textfield;
    transition: all 0.3s ease-in-out;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
      color: lighten(#333, 30%);
      user-select: none;
    }
  }

  &>span {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    font-size: 0px;
    font-weight: 500;
    color: red;
    transition: all 0.3s ease-in-out;
    line-height: 150%;
  }
}

.checkout__item--required {
  &::after {
    content: "*";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    color: red;
    text-align: center;
    vertical-align: center;
  }

  &>input {
    padding-left: 20px;
  }
}


.checkout__checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $secondary;
  padding: 5px 10px;
  gap: 15px;
  border-radius: 5px;
  grid-column: 1/3;

  &>span {
    color: $text;
    font-size: 16px;
    font-weight: 500;
    flex: 1;
  }
}

.checkout__terms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $secondary;
  padding: 5px 10px;
  gap: 15px;
  border-radius: 5px;
  grid-column: 1/3;
  scroll-margin-top: 150px;

  &>span {
    color: lighten($text, 30%);
    font-size: 16px;
    font-weight: 500;
    flex: 1;
    text-decoration: none;

    &>a {
      color: $text;
      text-decoration: underline;
      font-weight: 600;
    }
  }

  &>input:checked~a {
    color: $text;
  }

  &.error {
    background: lighten(red, 45%);
    border: 1px solid red;

    &>span {
      color: red;

      &>a {
        color: red;
      }
    }
  }
}

// .checkout__error {
//   width: 100%;
//   color: red;
//   border: 1px solid red;
//   background: #fafafa;
//   font-size: 16px;
//   text-align: center;
//   font-weight: 500;
//   padding: 15px;
//   border-radius: 7px;
// }