.total__container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: start;
    justify-items: center;
  }
}

.total__message {
  width: 100%;
  text-align: left;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

//-----------------------

.total__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 7px;
  background: #333;
  align-items: center;
  justify-content: flex-start;
  grid-area: 1;

  @media (min-width: map-get($grid-breakpoints, lg)) {
    grid-area: unset;
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
  }
}


.total__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ccc;
  padding: 10px;
  gap: 15px;
  border-radius: 7px;

  &>span {
    font-size: 15px;
    font-weight: 400;
    color: #333;

    @media (max-width: map-get($grid-breakpoints, sm)) {
      font-size: 12px;
    }
  }
}

//-----------------------

.total__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ccc;
  padding: 10px;
  gap: 15px;
  border-radius: 7px;
  width: 100%;

  &>img {
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    border-radius: 5px;
  }
}

.total__name {
  width: 100%;
  flex: 1;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  margin: 0;

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 18px;
  }
}

.total__price {
  font-size: 15px;
  font-weight: 400;
  color: lighten($color: #333, $amount: 20%);

  @media (max-width: map-get($grid-breakpoints, sm)) {
    font-size: 12px;
  }
}