.aside{
  position: fixed;
  display: inline-block;
  padding: $padding;
  background: $primary;
  z-index: $index-modal;
  transition: $transition-fast;
  overflow-y: auto;
  padding-bottom: calc($padding * 10);
  // transform: scale(0.85);

  & h3 {
    color: $secondary;
    font-size: $font-size;
    font-weight: $font-weight;
  }


  /// Positioning
  &--top {
    top: -$max-width;
    left: unset;
    right: unset;
    width: 100dvw;
    height: auto;

    &.active {
      top: 0;
      left: unset;
      right: unset;
    }
  }
  &--right {
    max-width: $max-width;
    width: 100%;
    height: 100dvh;
    top: 0;
    left: unset;
    right: -$max-width;
    // margin-right: 7px;

    &.active {
        left: unset;
        right: 0;
    }
  }
  &--bottom {
    bottom: -$max-width;
    left: unset;
    right: unset;
    width: 100dvw;
    height: auto;

    &.active {
      bottom: 0;
      left: unset;
      right: unset;
    }
  }
  &--left {
    max-width: $max-width;
    width: 100%;
    height: 100dvh;
    left: -$max-width;
    top: 0;

    &.active {
        left: 0;
    }
  }

  &--confirm {
    max-width: 350px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    overflow: unset;

    &.active {
      transform: translate(-50%, -50%) scale(1);
    }

    /// Confirm Styles
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: $gap;
    padding: $padding;
    border-radius: $border-radius-sm;

    & > span {
      text-align: center;
      text-wrap: balance;
      color: $white;
      font-size: $font-size;
      font-weight: $font-weight;
      margin: 0 5%;
    }
  }

  &--table {
    width: 90%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    overflow: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: $padding;
    border-radius: $border-radius-sm;
    background: $primary;

    &.active {
      transform: translate(-50%, -50%) scale(1);
    }

    &>nav {
      margin-top: 0;
    }
    &>table {
      margin-top: 0;
    }
  }

  &--search {
    top: -$max-width;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding-bottom: $padding;
    width: 100%;
    max-width: 600px;

    &.active{
        top: 0;
    }
  }

  /// Objects and styles for aside
  // &.active {
  //     transform: scale(1);
  // }
  &--line{
      display: block;
      width: 100%;
      height: 1.5px;
      margin-top: $margin;
      background-color: $primary;
      border-radius: $border-radius;
  }
  &--controls{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $gap;
  }
  & > .button:not(:first-child) {
    margin-top: $margin;
  }
}
aside #menu__container{
  @media (min-width: map-get($grid-breakpoints, md)) {
    display: none;
  }
}
