.accordion {
  &__btn {
    @include standart-Btn;
    display: block;
    padding: 0 $padding;
    text-align: left;
    width: 100%;
    position: relative;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &-flex {
      display: flex;
    }
  }

  &__content {
    border: 1px solid $mainBg;
    border-top: 0;
    border-radius: 0 0 $base-border-radius $base-border-radius;
    padding: $padding;
  }

  &__upload {
    @include standart-Btn;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: $mainBg;
    border-radius: 0 $BtnBorderRadius $BtnBorderRadius 0;

    input {
      display: none;
    }

    label {
      border-radius: 0 $BtnBorderRadius $BtnBorderRadius 0;
    }
  }
}