// The Notification
.alert__session {
  @include standart-Font;
  @include flexbox(flex, row, space-between, center);
  @include size(98%, $BtnSize);
  margin: 0 auto $margin;
  background-color: $darkBg;
  border-radius: $BtnBorderRadius;
  z-index: $z-index-error;

  &-text {
    @include standart-Font;
    text-align: center;
    flex: 1;

    a {
      text-decoration: underline;
    }
  }

  &-btn {
    @include standart-Btn;
    background-color: $alertColor;
  }

  &.liveAlert {
    @include position(absolute, auto, auto, 97%, 50%);
    @include size(85%, $BtnSize);
    transform: translateX(-50%);
    transition: $transition;
    z-index: $z-index-error;
    opacity: 0;
  }
}

//by iosif for validation

p.real-time-validation {
  position: relative;
  color: $alertColor;
}