@mixin btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: $padding;
  border-radius: calc($base-border-radius / 3);
}

.btn {
  @include btn;
}

.back{
    @extend .btn;
    border: 1px solid $mainBg;
    background-color: $white;
    color: $mainBg;
}

.viewbtn{
@extend .back;
}

.add{
    @extend .btn;
    border: 1px solid $secondColor;
    background-color: $secondColor;
    color: $mainBg;
}

.delete{
    @extend .btn;
    border: 1px solid $mainBg;
    color: $secondColor;
    background-color: $mainBg;
}

.edit{
    @extend .add;
}

.addnew{
    @extend .add;
    float: right;
    margin-bottom: calc($margin / 2);
}

.upload{
    @extend .add;
    padding: calc($padding / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $margin;
    font-size: $font-size-md;
}
