@mixin btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: $padding;
  border-radius: calc($base-border-radius / 3);
}

.btn {
  @include btn;
}

.back {
  @extend .btn;
  border: 1px solid $mainBg;
  background-color: $white;
  color: $mainBg;
}

.viewbtn {
  @extend .back;
}

.add {
  @extend .btn;
  border: 1px solid $secondColor;
  background-color: $secondColor;
  color: $mainBg;
}



.addnew {
  @extend .add;
  float: right;
  margin-bottom: calc($margin / 2);
}

.upload {
  @extend .add;
  padding: calc($padding / 3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: $margin;
  font-size: $font-size-md;
}

// The Notification
.alert__session {
  @include standart-Font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: 0 auto;
  margin-bottom: $margin;
  background-color: $darkBg;
  border-radius: $BtnBorderRadius;


  &-text {
    @include standart-Font;
    text-align: center;
    flex: 1;

    a {
      text-decoration: underline;
    }
  }

  &-btn {
    @include standart-Btn;
    background-color: $alertColor;
  }
}

// checkbox
input[type=checkbox] {
  @include BtnHover($hoverEffect: lighten($checkColor, 30%), $activeEffect: $checkColor, $textColor: $mainBg );
  position: relative;
  border: 1px solid $darkBg;
  border-radius: $BtnBorderRadius;
  background: none;
  cursor: pointer;

  height: 2.5rem;
  width: 2.5rem;
  box-shadow: $BtnShadow;
  transition: $transition;
  appearance: none;
}

input[type=checkbox]:before {
  content: "";
  position: absolute;
  right: 45%;
  top: 45%;
  width: 8px;
  height: 16px;
  border: solid #FFF;
  border-width: 0 3px 3px 0;
  margin: 0px 0px 0 0px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
  opacity: 0.3;
  transition: $transition;
}

input[type=checkbox]:checked {
  background-color: rgba(3, 169, 244, 1);
}

input[type=checkbox]:checked:before {
  opacity: 1;
}