@mixin btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: $base-padding;
  border-radius: calc($base-border-radius / 3);
}

.btn {
  @include btn;
}

.back{
    @extend .btn;
    border: 1px solid $bg;
    background-color: $white;
    color: $bg;
}

.viewbtn{
@extend .back;
}

.add{
    @extend .btn;
    border: 1px solid $secondarydark;
    background-color: $secondary;
    color: $bg;
}

.delete{
    @extend .btn;
    border: 1px solid $bg-light;
    color: $secondary;
    background-color: $bg;
}

.edit{
    @extend .add;
}

.addnew{
    @extend .add;
    float: right;
    margin-bottom: calc($base-margin / 2);
}

.upload{
    @extend .add;
    padding: calc($base-padding / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $base-margin;
    font-size: $font-size-md;
}
