th {
  text-align: center !important;
}

.link-name {
  color: $black;

  text-decoration: underline;
}


.livewire-table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  box-shadow: $BtnShadow;
  margin: calc($gap * 3) 0;
  font-weight: bold;

  tr {
    padding: $padding;
  }

  th,
  td {
    font-size: $fSize;
    padding: $padding calc($padding / 2);
    text-align: center;
  }

  thead {
    tr {
      background-color: $mainBg;
    }

    th {
      color: $secondColor;
      font-size: $fSize;
      border: 1px solid white;
      border-bottom: none;
      position: relative;
      padding-right: 25px;



      &::after {
        content: "";
        position: absolute;
        transform: translateY(-50%) rotate(45deg);
        right: 8px;
        width: 10px;
        height: 10px;
        border: 2px solid white;
        border-left: none;
        border-top: none;
        top: 45%;
      }

      &[data-symbol="up"] {
        &::after {
          content: "";
          transform: rotateZ(225deg);
        }
      }

      &:first-child,
      &:last-child {
        padding: inherit;

        &::after,
        &::before {
          display: none;
        }
      }

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
      }
    }


  }

  tbody tr:nth-child(even) {
    background-color: lighten($gray, 25);
  }

  button {
    @include standart-Btn;
    display: unset;
    width: 2.5rem;
    height: 2.5rem;
  }

  a {
    text-decoration: underline;
  }
}

@media (max-width: 530px) {
  .livewire-table {
    border: 3px solid $mainBg;

    thead tr {
      display: block;
    }

    thead th {
      border: none;
    }

    thead th:not(:first-child) {
      display: none;
    }


    th,
    td {
      padding: calc($padding / 2);
    }

    td {
      text-align: right;
      display: block;
    }

    td::before {
      content: attr(data-title) ": ";
      float: left;
      font-weight: 900;
      font-size: 1rem;
      margin-right: 10px;
    }

    button {
      display: unset;
    }
  }
}

.th_checked {
  background: lighten($checkColor, 40) !important;
  border: 1px solid lighten($checkColor, 20);
}

.alerttable {
  position: absolute;
  top: -120%;
  left: 50%;
  transform: translateX(-50%);
}


//pagination
.pagination {
  @include centering;
  gap: $gap * 1.5;
  background: $mainBg;
  padding: $padding;
  border-radius: $BtnBorderRadius;
  box-shadow: $BtnShadow;

  &__item {
    @include standart-Btn;
    width: 2rem;
    height: 2rem;

    &:nth-last-child(-n+4):not(:last-child) {
      display: none;
    }

    &.active {
      background-color: #BBFCDE;
      color: #35424B;
    }
  }
}

@media (min-width: 530px) {
  .pagination__item:nth-last-child(-n+4):not(:last-child) {
    display: block;
  }
}