// this is the new Table
.livewire-table {
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  box-shadow: $BtnShadow;
  margin: calc($gap * 3) 0;
  font-weight: bold;

  tr {
    padding: $padding;
  }

  th,
  td {
    font-size: $fSize;
    padding: $padding calc($padding / 2);
    text-align: center;
  }

  thead {
    tr {
      background-color: $mainBg;
    }

    th {
      color: $secondColor;
      font-size: $fSize;
      border: 1px solid white;
      border-bottom: none;
      position: relative;
      padding-right: 25px;

      input {
        border-color: $secondColor;
        border-width: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        transform: translateY(-50%) rotate(45deg);
        right: 8px;
        width: 10px;
        height: 10px;
        border: 2px solid white;
        border-left: none;
        border-top: none;
        top: 45%;
      }

      &[data-symbol="up"] {
        &::after {
          content: "";
          transform: rotateZ(225deg);
        }
      }

      &:first-child,
      &:last-child {
        padding: inherit;

        &::after,
        &::before {
          display: none;
        }
      }

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
        border-left: 0;
      }

      &:nth-last-child(2) {
        border-right: 0;
      }
    }


  }

  tbody tr:nth-child(even) {
    background-color: lighten($gray, 25);
  }

  button {
    @include standart-Btn;
    display: unset;
    width: 2.5rem;
    height: 2.5rem;
  }

  a {
    text-decoration: underline;
  }
}

@media (max-width: 660px) {
  .livewire-table {
    // border: 3px solid $mainBg;

    thead tr {
      display: block;
      padding-right: 5px;
    }

    thead th {
      border: none;
      padding-right: 0;
    }

    thead th:not(:first-child) {
      display: none;
    }

    thead th:first-child {
      width: 100vw;
      text-align: end;
    }


    th,
    td {
      padding: calc($padding / 2);
    }

    td {
      text-align: right;
      display: block;
    }

    td::before {
      content: attr(data-title) ": ";
      float: left;
      font-weight: 900;
      // font-size: 1rem;
      margin-right: 10px;
    }

    button {
      display: unset;
    }
  }
}

.th_checked {
  background: lighten($checkColor, 40) !important;
  border: 1px solid lighten($checkColor, 20);
}


// The old table, is need to change on the .livewire-table
.table {
  width: 100%;
  border-collapse: collapse;
  // background-color: transparent;
  color: $black;

  td,
  th {
    border: 2px solid $darkBg;
    padding: 10px;
    height: 70px;

    &:first-child {
      display: flex;
      align-items: center;
      border: 1px solid $darkBg;
      width: 100%;
      justify-content: space-between;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 10%;
    }

    img {
      height: 100%;
      object-fit: contain;
    }

    select,
    input {
      @include standart-Input;
      margin: 0 auto;
    }

    button {
      @include standart-Btn;
      background-color: $alertColor;
      margin: 0 auto;
      font-size: x-large;
      font-weight: 700;
    }
  }

  thead {
    background-color: $darkBg;
    color: $white;
  }
}