.dropdown {
  width: 100%;
  height: $BtnSize;
  position: relative;
  box-shadow: $BtnShadow;
  border-radius: $BtnBorderRadius;
  cursor: pointer;
  z-index: 2;

  &-name {
    @include centering;
    @include standart-Font;
    width: 100%;
    height: 100%;
    position: relative;
    color: $mainBg;
    background-color: $white;
    border-radius: $BtnBorderRadius;
    border: 1.5px solid $mainBg;
    cursor: pointer;
    z-index: 2;
  }


  &-content {
    @include centering;
    display: none;
    position: absolute;
    top: 85%;
    left: 0;
    gap: $gap;
    padding: 20px 10px 10px;
    border: 1.5px solid $mainBg;
    width: 100%;
    background: white;
    box-shadow: $BtnShadow;
    border-radius: 0 0 $BtnBorderRadius $BtnBorderRadius;
    flex-direction: column;

    input {
      width: 2rem;
      height: 2rem;
    }

    label {
      flex: 1;
      text-align: start;
    }

    button {
      @include standart-Btn;
      width: 100%;
    }
  }

  &-content.show {
    display: flex
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $gap;
    width: 100%;
  }
}