.dropdown {

  width: 100%;
  height: $BtnSize;
  position: relative;
  box-shadow: $BtnShadow;
  border-radius: $BtnBorderRadius;

  &-name {
    @include centering;
    @include standart-Font;
    width: 100%;
    height: 100%;

    position: relative;
    color: $mainBg;
    background-color: $white;
    border-radius: $BtnBorderRadius;
    border: 1.5px solid $mainBg;

    z-index: $z-index-big + 55;
  }


  &-content {
    @include centering;
    display: none;
    position: absolute;
    top: 85%;
    left: 0;
    gap: $gap;
    padding: 20px 10px 10px;
    border: 1.5px solid $mainBg;

    width: 100%;
    background: white;
    box-shadow: $BtnShadow;
    border-radius: 0 0 $BtnBorderRadius $BtnBorderRadius;
    flex-direction: column;
    z-index: $z-index-big - 55;
  }

  &-item {
    @include standart-Btn;
    width: 100%;
  }

  &:hover {
    .dropdown-content {
      display: flex;
    }
  }
}


.collapsible {
  background-color: $mainBg;
  color: $white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: $font-size-md;
}



.collapsible:after {
  content: '\002B';
  color: $white;
  font-weight: $font-weight-bold;
  float: right;
  margin-left: $margin;
}

.collapsible.active:after {
  content: "\2212";
}

//cpntentul pentru taburi
.contenttabb {
  padding: 0 $padding;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: $white;
}