  .modal {
    @include size(100%, 100vh);
    @include flexbox(none, row, center, center);
    @include position(fixed, 0, null, null, 0);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: $z-index-modal;

    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 0fr;
      gap: $gap;
      font-weight: 400;
      background-color: $white;
      border-radius: $base-border-radius;
      position: relative;
      padding: $padding * 2;
      margin: 0 calc($margin * 1.5);
      outline: none;

      &-title {
        @include standart-Font;
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        color: $mainBg;
        font-size: calc($fSize * 2);
      }

      &-btn {
        @include standart-Btn;
        width: 100%;
        cursor: pointer;
        font-weight: $font-weight-bold;
      }

      span {
        @include position(absolute, calc($BtnSize / -4), calc($BtnSize / -4));
        @include size(calc($BtnSize / 1.5));
        border-radius: 100%;
      }
    }
  }