// The dark part of Modal
.modal {
  @include wh(100%, 100vh);
  @include centering;
  display: none;
  position: fixed;
  left: 0;
  top: 0;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;

  // Modal content
  &-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 0fr;
    gap: $gap;

    background-color: $white;
    border-radius: $base-border-radius;

    position: relative;
    padding: $padding * 2;
    margin: 0 calc($margin * 1.5);
    outline: none;

    // Modal title
    &-title {
      @include standart-Font;
      grid-column-start: 1;
      grid-column-end: 3;

      text-align: center;
      color: $mainBg;
      font-size: calc($fSize * 2);
      font-weight: $font-weight-bold;
    }

    // Modal Buttons
    &-btn {
      @include standart-Btn;
      width: 100%;
      cursor: pointer;
      font-weight: $font-weight-bold;
    }

    //Modal closing button in the corner
    span {
      position: absolute;
      border-radius: 100%;

      width: calc($BtnSize / 1.5);
      height: calc($BtnSize / 1.5);

      top: - calc($BtnSize / 4);
      right: - calc($BtnSize / 4);
    }
  }
}