.tab {
  border: 1px solid $mainBg;
  border-radius: $base-border-radius;

  &__list {
    padding: $padding;
    gap: $gap;
  }
}

.tabs {
  display: grid;
  grid-auto-flow: column;
  gap: $gap;
  background-color: $mainBg;
  padding: $padding;
  border-radius: $base-border-radius $base-border-radius 0 0;

  &__page {
    @include standart-Btn;
    width: 100%;

    &.active {
      background-color: $secondColor;
    }
  }

  &__content {
    display: none;
    gap: $gap;
    flex-direction: column;

    &.active {
      display: flex;
    }
  }
}