.button {
  display: inline-block;
  padding: $padding;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $mainBg;
  color: $mainBg;
  transition: .4s;
}

.buttonremove {
  background: $white;
  cursor: pointer;
  color: $mainBg;
}

#imgUpload {
  display: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  // background-color: transparent;
  color: $black;

  td,
  th {
    border: 2px solid $darkBg;
    padding: 10px;
    height: 70px;

    &:first-child {
      display: flex;
      align-items: center;
      border: 1px solid $darkBg;
      width: 100%;
      justify-content: space-between;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 10%;
    }

    img {
      height: 100%;
      object-fit: contain;
    }

    select,
    input {
      @include standart-Input;
      margin: 0 auto;
    }

    button {
      @include standart-Btn;
      background-color: $alertColor;
      margin: 0 auto;
    }
  }

  thead {
    background-color: $darkBg;
    color: $white;
  }
}