//<---------------------------- Color Palethe ---------------------------->
// General Colors
$backgroundColor: #f2f2f2;
$textColor: #333;
$svgColor: #333;
$modalColor: rgba($color: #000000, $alpha: .8);
// Button Colors
$buttonBackgroundColor: #333;
$buttonTextColor: #f2f2f2;
$buttonSvgColor: #f2f2f2;
$buttonHoverColor: darken($buttonBackgroundColor, 10%);
// Items Colors
$itemBackgroundColor: #ccc;
$itemTextColor: #333;
$itemSvgColor: #333;
$itemHoverColor: darken($itemBackgroundColor, 10%);
$itemDropdownColor: darken($itemBackgroundColor, 30%);
// Banner Color
$bannerBackgroundColor: #333;
$bannerTextColor: #f2f2f2;
// Count on Header
$countBackgroundColor: #333;
$countTextColor: #fff;
//<-------------------------- End Color Palethe -------------------------->
//<---------------------------------Sizes--------------------------------->
// Breakpoints widths
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// Container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
//<-------------------------------End-Sizes------------------------------->