.dropdown {
  @include size(100%, $BtnSize);
  position: relative;
  box-shadow: $BtnShadow;
  border-radius: $BtnBorderRadius;
  cursor: pointer;

  &-button {
    @include flexbox(flex, row, center, center);
    @include standart-Font;
    @include size(auto, 100%);
    padding: 0 10px;
    position: relative;
    color: $mainBg;
    background-color: $white;
    border-radius: $BtnBorderRadius;
    border: 1.5px solid $mainBg;
    cursor: pointer;
    z-index: 2;
  }

  &-list {
    @include flexbox(none, column, center, center, $gap);
    @include position(absolute, 85%, $left: 0);
    @include size(100%, auto);
    padding: 20px 10px 10px;
    border: 1.5px solid $mainBg;
    background: white;
    box-shadow: $BtnShadow;
    border-radius: 0 0 $BtnBorderRadius $BtnBorderRadius;

    input {
      @include size(2rem);
    }

    label {
      flex: 1;
      text-align: start;
    }

    button {
      @include standart-Btn;
      width: 100%;
    }
  }

  &-item {
    @include flexbox(flex, row, space-between, center, $gap);
    @include size(100%, auto);
  }

  &.open {
    z-index: 5;

    &.dropdown-list {
      display: flex;
    }
  }
}

.dropdown.open .dropdown-list {
  display: flex;
}

.none {
  display: none;
}