.products {
  @include flexer(column, $gap: 30px);

  &__control {
    @include flexer(row, space-between, flex-end, 30px);
    position: relative;
    display: grid;
    grid-template-columns: 0fr 1fr 0fr;
    justify-items: start;
    gap: 30px;
    row-gap: 10px;
  }

  &__select {
    position: relative;
    width: 150px;

    select {
      @include btn;
      @include box(100%, 40px);
      @include font(700, $background, start);
      padding: 0 20px;
      --moz-appearance: none;
      --webkit-appearance: none;

      &::-ms-expand {
        display: none;
      }
    }

    svg {
      @include abs-position(absolute, 50%, 10px, auto, auto);
      transform: translateY(-50%);
    }

  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.product__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @include breakpoint(small) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include breakpoint(x-large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // @include breakpoint(xx-large) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // }
}

.product__item {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 15px 0 rgb(0 0 0 / 37%);
  overflow: hidden;
  @include box(100%, 300px);

  @include breakpoint(large) {
    @include box(100%, 600px);
  }

  &:hover img {
    scale: (1.1);
  }

  &--bundle {
    @include responsive-spacing(padding, 0.001);
    @include flexer(column, flex-start, flex-start, 5px);
    @include abs-position (absolute, null, null, 0, 0);
    @include box(100%, auto);
    backdrop-filter: blur(15px);
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, 0.4);

    @include breakpoint(large) {
      display: grid;
      align-items: flex-start;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      p {
        grid-column: 1/3;
      }

      &>span {
        width: 100%;
        text-align: end;
      }
    }

    p {
      font-size: 14px;
      width: 100%;
    }
  }

  &--price {
    @include flexer(row, space-between, center, 15px);
    width: 100%;
    flex: 1;
    color: #104010;
    font-weight: 500;

    span.deleted {
      text-decoration: line-through;
    }
  }

  span.percent {
    @include abs-position (absolute, 10px, unset, unset, 10px);
    @include flexer(row, center, center);
    @include box(3rem);
    scale: 1.2;
    color: $background;
    background-color: red;
    border-radius: 100%;
  }

  img {
    @include box(100%, 100%);
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 40%;
    transition: scale .5s ease-in-out;
  }

  &--buttons {
    @include flexer(row, space-between, center, 5px);
    width: 100%;
    grid-column: 1/3;
  }

  &--btn {
    @include flexer(row, center, center);
    background: $text;
    @include box(2rem);
    border-radius: 5px;

    svg {
      scale: .8;
      stroke-width: 1px;
      stroke: white;
    }
  }

  &--heart {
    @include box(2.5rem);
    @include flexer(row, center, center);
    background-color: #f2f2f2;
    border-radius: 50%;

    svg {
      // scale: .8;
      stroke: #104010;
      fill: #104010;
    }
  }

  &--header {
    @include abs-position (absolute, 0, unset, unset, 0);
    @include flexer(row, space-between, center, );
    width: 100%;

    @include breakpoint(large) {
      padding-top: 15px;
      gap: 10px;

      button {
        margin-right: 15px
      }
    }
  }

  &--stock {
    @include flexer(row, center, center);
    flex: 1;
    @include box(100%, 2.5rem);
    background-color: $text;
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    color: $background;

    @include breakpoint(medium) {
      flex: unset;
      width: auto;
      padding: 5px 10px;
    }
  }
}