//<---------------------------- Navbar Styles (fixed) ---------------------------->
.navbar__list {
  list-style: none;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;

  @media (max-width: map-get($grid-breakpoints, xl)) {
    display: none;
  }
}

.dropdown__button,
.navbar__link {
  color: $lightBlack;
  position: relative;
  text-decoration: none;
  font-size: $textSize;
  font-weight: $lightWeight;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & > svg {
    width: 24px;
    stroke: $lightBlack;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2.5px;
    border-radius: 2px;
    background: $lightBlack;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

.dropdown {
  width: 100%;
  height: 100%;
  position: relative;

  &:hover > .dropdown__list {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scaleY(1);
  }
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  transform-origin: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 7px;
  background: $background;
  z-index: 500;
  list-style: none;
  max-height: 400px;
  overflow: visible;
  overflow-y:auto;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s;
}

.dropdown__item {
  width: 100%;
  height: 100%;
  position: relative;

  &:hover > .dropdown__item--list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    pointer-events: auto;
  }
}

.dropdown__item--button {
  width: 100%;
  height: 40px;
  padding: 7px 10px;
  background: $background;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  text-decoration: none;
  line-height: 150%;
  font-weight: $lightWeight;
  color: $lightBlack;
  position: relative;
  font-size: $textSize;
  gap: 10px;

  & > svg {
    transform: scale(0.8);
  }

  $transition-delay: 0.15s;
  $transition-increment: 0.1s;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition-delay: ($transition-delay + $i * $transition-increment);
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: $lightBlack;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
}

.dropdown__item--list {
  position: absolute;
  left: calc(100%);
  top: 0;
  background: $background;
  z-index: 900;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding: 5px;
  transform: scale(0.95);
  transform-origin: left top;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
  overflow: visible;

  & > a {
    width: 100%;
    height: 100%;
    padding: 7px 10px;
    background: $background;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    text-decoration: none;
    line-height: 150%;
    font-weight: $lightWeight;
    color: $lightBlack;
    position: relative;
    font-size: $textSize;
    gap: 8px;

    $transition-delay: 0.08s;
    $transition-increment: 0.05s;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: ($transition-delay + $i * $transition-increment);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background: $lightBlack;
      transition: width 0.25s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
//<-------------------------- End Navbar Styles -------------------------->
