// .main-slider__text {
//   position: absolute;
//   left: 50%;
//   bottom: 40px;
//   transform: translateX(-50%);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   text-align: center;
//   gap: 15px;

//   background: rgba(0, 0, 0, 0.7);
//   padding: 25px;
//   border-radius: 7px;

//   @media (max-width: map-get($grid-breakpoints, md)) {
//     text-align: center;
//     align-items: center;
//     padding-left: 70px;
//     padding-right: 70px;
//   }

//   &>h3 {
//     font-size: 30px;
//     font-weight: 600;
//     color: $background;

//     @media (max-width: map-get($grid-breakpoints, md)) {
//       font-size: 25px;
//     }
//   }

//   &>p {
//     font-size: 20px;
//     font-weight: 400;
//     color: lighten($text, 50%);

//     @media (max-width: map-get($grid-breakpoints, md)) {
//       font-size: 18px;
//     }
//   }
// }

.main-slider__link {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  background: $background;
  color: $text;
  text-decoration: none;
  border: none;
  border-radius: 3px;

  @media (max-width: map-get($grid-breakpoints, md)) {
    font-size: 18px;
  }
}

.main-slider {
  width: 100%;
  height: 550px;
  position: relative;
}

// wrapper options
.main-slider__wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: all 0.3s ease-in-out;

  &::-webkit-scrollbar {
    display: none;
  }

  &.no-transition {
    scroll-behavior: auto;
  }

  &.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;

    & > .card {
      cursor: grab;
      user-select: none;
    }
  }
}

.main-slider__slide {
  scroll-snap-align: start;
  // position: relative;
  width: 100%;
  height: 550px;
  background: $text;

  &:first-child {
    z-index: 5;
  }

  // & > a {
  //   width: 100%;
  //   height: 100%;
  //   display: block;
  //   // pointer-events: none;

  & > img,
  picture,
  picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    object-position: center;
    aspect-ratio: 1 / 5.5;
  }

  & > picture {
    display: block;
  }
  // }
}

.main-slider__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: white;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  border: none;

  & > svg {
    stroke: $background;
    transform: scale(1.1);
  }

  &.prev {
    left: 20px;
    animation: LeftToRight 1s ease-in-out infinite;
  }

  &.next {
    right: 20px;
    animation: RightToLeft 1s ease-in-out infinite;
  }

  @keyframes LeftToRight {
    0% {
      transform: translateX(0) scale(1.1);
    }

    50% {
      transform: translateX(-5px) scale(1.1);
    }

    100% {
      transform: translateX(0) scale(1.1);
    }
  }

  @keyframes RightToLeft {
    0% {
      transform: translateX(0) scale(1.1);
    }

    50% {
      transform: translateX(5px) scale(1.1);
    }

    100% {
      transform: translateX(0) scale(1.1);
    }
  }
}
