.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  white-space:nowrap;
  overflow-x: auto;
  gap: 5px;
  position: sticky;
  top: 60px;
  z-index: 100;
  background: $background;
  padding-top: 5px;
  padding-bottom: 15px;
  transition: all 0.3s ease-in-out;
  scrollbar-color: $lightGray #f1f1f1;
 // border-bottom:1px solid $primary;
}

.breadcrumbs > li {
  list-style: none;

  &:not(:last-child)::after {
    content:">";
    transform: translateY(-50%);
    font-size:0.8rem;
  }
}

.breadcrumbs__link {
  font-size: 12px;
  font-weight: $lightWeight;
  color: $lightBlack;
  text-decoration: underline;
  text-decoration-color: $lightBlack;
  text-underline-offset: 3px;
  // text-wrap: nowrap;
  // text-transform: capitalize;
  position: relative;
  padding-right: 5px;
  line-height: 150%;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;

  &:hover {
    color: $darkBlack;
  }

  &:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
