#cookie-banner {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $lightBlack;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  /* Start with hidden */
}

.cookie__container {
  position: absolute;
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  overflow: auto;
  box-sizing: border-box;
  width: auto;
  min-height: 100px;
  max-width: 500px;
  min-width: 350px;
  background-color: #fafafa;
  padding: 20px 10px;
  border-radius: 6px;
  color: black;
  text-align: center;
  flex-direction: column;
}

.cookie__description {
  opacity: 1;
  touch-action: manipulation !important;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;

  &>span {
    color: black;
    font-size: $textSize;
  }

  &>a {
    color: black;
    text-decoration: underline;
    font-size: $textSize;
  }
}

body.no-scroll {
  overflow: hidden;
  /* Prevent scrolling */
}

.cookie-btns {
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-direction: row;

  &>.button {
    font-size: $textSize;
  }
}





.cookie__form--container {
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  visibility: hidden;

  &>label {
    text-align: left;

    &>span,
    p {
      color: black;
      font-size: $textSize;
    }

    p {
      margin-top: 5px;
      font-size: $textSize;
    }
  }
}

.cookie__form {
  width: 100%;
  opacity: 1;
  display: grid;
  grid-template-rows: 0fr;
  transition: all 0.4s ease-in-out;
  margin-bottom: 0;
  overflow: hidden; // Ensure content doesn't spill outside

  &.show {
    margin-bottom: 20px;
    grid-template-rows: 1fr;

    &>.cookie__form--container {
      gap: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      border: 1px solid black;
      border-left: none;
      border-right: none;
      opacity: 1;
      visibility: visible;
      overflow: hidden; // Contain child elements
      box-sizing: border-box; // Ensure padding and borders are part of the width/height

      &>label {
        display: grid;
        grid-template-columns: 50px 1fr; // Allow the second column to take remaining space
        justify-items: start;
        align-items: center;
        max-width: 100%; // Prevent label from overflowing container
        overflow: hidden; // Hide any overflowing content

        &>input {
          border: 2px solid $primary;
          transform: scale(0.8);

          &:not(:checked) {
            background-color: lightgray;
          }
        }

        &>input:disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }

        &>p {
          grid-column: 1 / 3; // Span both columns
          width: 100%; // Restrict width to the container
          word-wrap: break-word; // Break words that are too long
          overflow-wrap: break-word; // Ensure text wrapping
          text-wrap: balance; // Optional for better text alignment
          box-sizing: border-box; // Include padding and borders in width
        }
      }
    }
  }
}

.cookie__button {
  opacity: 1;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: $primary;
  text-transform: uppercase;
  border: none;
  color: $lightBlack;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid $lightBlack;
  transition: background 0.3s ease-in-out;
  cursor: pointer;


}

.cookie__button--accept {


  color: $background;
  background: $ctalight;


}

// .cookie__button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0 15px;
//   height: 40px;
//   font-size: $textSize;
//   font-weight: $lightWeight;
//   border-radius: 3px;
//   color: $primary;
//   border: 1px solid $primary;
//   background-color: transparent;
//   transition: all 0.3s ease-in-out;

//   &:hover {
//     background-color: $secondary;
//     color: $lightBlack;
//   }
// }

// .cookie__button--accept {
//   background-color: $primary;
//   color: $lightBlack;

//   &:hover {
//     background-color: $secondary;
//     color: $lightBlack;
//   }
// }