.rating {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='orange' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-star'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z' /%3E%3C/svg%3E");
  width: calc(24px * 5);
  height: 24px;
}

.rating::after {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='orange' class='icon icon-tabler icons-tabler-filled icon-tabler-star'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z' /%3E%3C/svg%3E");
  background-repeat: repeat-x;
  width: var(--rating);
  height: 100%;
  left: 0;
  top: 0;
}

.ratingscore {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom:5px;
}

// review sistem
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-product-reviews {
  width: 100%;
  max-width: 360px;
  display: grid;
  gap: 20px; /* adjust as needed */
}

/* Mobile (max-width ~768px or whatever your breakpoint is) */
@media (max-width: 768px) {
  .grid-product-reviews {
    grid-template-columns: 1fr; /* single column */
    grid-template-rows: auto auto auto; /* 3 rows (auto height each) */
    gap: 24px;
  }
}

.product-reviews {
  display: flex;
  justify-content: space-between;
}

.reviews-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1e212c;
  }


  &__caption {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787a80;
  }
}

.reviews-bar {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.progress-bar {
  width: 100%;
  display: flex;
  align-items: center;

  &__star {
    margin-right: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787a80;
  }

  &__outter-line {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 40px;
    background-color: #e5e8ed;
  }

  &__inner-line {
    position: absolute;
    height: 4px;
    border-radius: 40px;

    &--excellent {
      background-color: #03cea4;
    }

    &--good {
      background-color: #1fdf58;
    }

    &--normal {
      background-color: #f2ea2b;
    }

    &--not-bad {
      background-color: #f89828;
    }

    &--bad {
      background-color: #ff4242;
    }
  }

  &__quantity {
    margin-left: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #787a80;
  }
}
